html, body {
    min-height: 100%;
    margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 auto;
  width: inherit;
  display: block;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 2px solid #337ab7;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

app-translations-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    border: 2px solid #337ab7;
    border-radius: 10px;
    padding: 1rem;
}